

.Memo__container{
  width: 600px;
  height: 100px;
  margin-bottom: 20px;
  padding:10px;
  border-bottom: 1px solid #d3d0d0;
  display: flex;
  justify-content: space-between;
}

.Memo__container:hover {
  animation: float 3s linear infinite forwards;
}

.Memo__container:hover .deleteBtn{
  opacity: 1;
  transition: all ease 1s 0s;
}

@keyframes float {
  0% {
    transform: translateY(-10px);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-20px);
    box-shadow: 0 13px 27px -80px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    transform: translateY(-10px);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.Memo__container .Container_header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.Memo__container .Containner_title{
  display: block;
  font-size: 2rem;
}

.Containner_title a{
  text-decoration: none;
  color: #7e7a7a;
  font-weight: 900;
}

.Memo__container .Container_body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Container_body .deleteBtn{
  outline: none;
  opacity: 0;
}


